@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.directory {
  height: 100%;
  background-color: black;

   height: 100%;


  .wrap {
    display: inline-block;
    width: 100%;
   

  .welcome{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 11vh;
    margin-top: 10vh;

    img{
      
      max-width: 100%;
    }

   
  }
  
}

}

.btt{
  color: white;
  text-align: center;
  margin-top: 20px;

  .hov:hover{
    color: yellow;
  }
  
}

.btt:hover{
  color: yellow;
}







